body {
		background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
		font-weight: 400;
}


/*---------------------------------------
    Typorgraphy
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

h3,h5 {
  font-weight: 500;
}

h1 {
    font-size: 60px;
    letter-spacing: 2px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  line-height: 36px;
}

h5 {
    letter-spacing: 1px;
    padding-top: 10px;
}

p {
    color: #707070;
    font-size: 14px;
    line-height: 24px;
}

a {
  text-decoration: none !important;
  outline: none;
}


/*---------------------------------------
    General
-----------------------------------------*/
.section-title {
  margin-bottom: 32px;
}

#overview,
#register {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

#detail, #video,
#speakers,
#program,
#sponsors,
#contact, footer {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#detail,
#speakers, #sponsors,
footer {
  text-align: center;
}

#overview h3,
#detail h3, #video h3,
#register h3,
#venue h3,
#contact h3 {
    padding-bottom: 12px;
}

#intro .btn,
#contact .btn {
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 14px 42px;
    margin-top: 42px;
    margin-right: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#intro .btn-danger,
#contact .btn-danger {
    background: #f2545f;
    border-color: transparent;
}

#contact .btn {
  border-radius: 100px;
}

#intro .btn-danger:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .btn-danger:hover {
  background: #222;
}

#intro .btn-default:hover {
    background: #ffffff;
    color: #333333;
    border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}



/*---------------------------------------
    Preloader section
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
  width: 50px;
  height: 50px;
  background-color: #222;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }



/*---------------------------------------
    Navigation Links section
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #101010;
    transition: .2s;
}

.custom-navbar .navbar-brand {
    color: #ffffff;
    font-weight: 500;
    font-size: 3rem;
    /* line-height: 40px; */
    border: 3px solid #fff;
}

/* .custom-navbar .nav {

} */

.custom-navbar .nav li a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.2s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #5bd4e4;
    transform: translateY(-2px);
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #66ccff;
}


@media(min-width:768px) {
    .custom-navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0;
    }
    .custom-navbar .navbar-brand {
      transform: translate(100px, 30px);
      transition: .2s;
      margin-top:10px;
    }
    .custom-navbar .nav  {
      transform: translate(-30px,30px);
    }
    .custom-navbar .nav li a {
      margin-right: 20px;
    }
    .custom-navbar.top-nav-collapse {
        background: #101010;
        padding: 0;
    }
    .custom-navbar.top-nav-collapse .navbar-brand{
      transform: translate(0, 0);
    }
    .custom-navbar.top-nav-collapse .nav {
      transform: translate(0, 0);
    }
    .custom-navbar.top-nav-collapse .nav li a {
      margin-right: 0;
    }

}

@media(max-width:1200px) {
  .custom-navbar .navbar-brand {
    transform: translate(20px, 30px);
  }
  .custom-navbar .nav  {
    transform: translate(0px,30px);
    margin-right: -60px;
  }
  .custom-navbar .nav li a {
    margin-right: 10px;
  }
  .custom-navbar.top-nav-collapse {
    background: #101010;
    padding: 0;
}
  .custom-navbar.top-nav-collapse .navbar-brand{
    transform: translate(0, 0);
  }
  .custom-navbar.top-nav-collapse .nav {
    transform: translate(0, 0);
  }
  .custom-navbar.top-nav-collapse .nav li a {
    margin-right: 0;
  }
}


/*---------------------------------------
    Intro section
-----------------------------------------*/
#intro {
    background: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../images/intro-bg1.jpeg') fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
     -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    height: 100vh;
    text-align: center;
}

#intro .container .row .fst {
  letter-spacing: 5px;
  font-size: 60px;
}

#intro .container .row .thr {
  letter-spacing: 25px;
  font-size: 60px;
}

#intro .container .row .img-box {
  height: 200px;
  width: 150px;
  display: inline-block;
}

#intro .container .row .img-box img {
  width: 100%;
  height: 100%;
}

#intro .container .row i {
  display: block;
  color: #fff;
}

@media(max-width:1200px) {
  #intro .container .row .img-box {
    height: 150px;
    width: 100px;
    display: inline-block;
  }
  #intro .container .row .fst {
    letter-spacing: 5px;
    font-size: 40px;
  }
  #intro .container .row .thr {
    letter-spacing: 20px;
    font-size: 40px;
  }
}


/*---------------------------------------
   Overview  section
-----------------------------------------*/
#overview img {
  position: relative;
  padding-bottom: 32px;
}



/*---------------------------------------
    Detail section
-----------------------------------------*/
#detail {
    background: #222;
    color: #ffffff;
}

#detail .fa {
  color: #f2545f;
  font-size: 48px;
}



/*---------------------------------------
    Video section
-----------------------------------------*/
#video iframe {
  border: none;
}



/*---------------------------------------
   Speakers section
-----------------------------------------*/
#speakers {
    background: #f9f9f9;
    text-align: center;
}

#speakers h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

#speakers h6 {
  color: #666;
  margin-top: 4px;
}

#speakers img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#speakers .col-md-3 {
    display: block;
    width: 250px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 22px;
}

#speakers .speakers-wrapper {
    background: #ffffff;
    padding-bottom: 22px;
}



/*---------------------------------------
   Program section
-----------------------------------------*/
#program h4 {
    color: #808080;
    font-size: 12px;
}

#program h3 {
  margin-top: 16px;
}

#program .program-divider {
    border: 1px solid #f9f9f9;
    margin-top: 32px;
    margin-bottom: 42px;
}

#program span {
    padding-right: 12px;
}

#program img {
  border-radius: 50%;
}

.nav-tabs {
  margin-bottom: 20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  color: #000000;
  font-weight: 600;
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0px;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #f2545f;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: #999;
}
.tab-content {
  padding-top: 20px;
}



/*---------------------------------------
    Regsiter section
-----------------------------------------*/
#register {
    background: url('../images/register-bg.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

#register .form-control {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  margin-bottom: 16px;
}

#register input {
  height: 45px;
}

#register input[type="submit"] {
  background: #f2545f;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

#register input[type="submit"]:hover {
  background: #ffffff;
  color: #222;
}



/*---------------------------------------
   Faq section
-----------------------------------------*/
#faq {
  background: #f9f9f9;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

#faq .panel-group {
  margin-top: 32px;
}

#faq .panel-group .panel {
  margin-bottom: 8px;
}

#faq .panel-default {
  border: none;
}

#faq .panel-default>.panel-heading {
  background: #f0f0f0;
  color: #505050;
}

#faq .panel-heading {
  border: none;
  padding-top: 8px;
  padding-bottom: 6px;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: none;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 22px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"] {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]::after {
  content: "-";
  display: block;
  position: absolute;
  line-height: 1;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
  content: "+";
}



/*---------------------------------------
   Venue section
-----------------------------------------*/
#venue {
    background: url('../images/venue-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#venue p {
  padding-top: 12px;
  padding-bottom: 18px;
}



/*---------------------------------------
   Sponsors section
-----------------------------------------*/
#sponsors img {
  margin-top: 18px;
}



/*---------------------------------------
   Contact section
-----------------------------------------*/
#contact {
    background: url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
}

#contact .contact_des {
  padding-top: 3rem;
  padding-right: 2rem;
}

#contact .contact_detail {
  background: #ffffff;
  padding: 5rem 5rem 12rem 5rem;
}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-bottom-color: #999;
}

#contact input {
  height: 45px;
}

#contact input[type="submit"] {
  background: #222;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: #f2545f;
}



/*---------------------------------------
   Footer section
-----------------------------------------*/
footer {
  background-attachment: fixed;
}



/* Back top */
.go-top {
  background-color: #222;
  bottom: 2em;
  right: 2em;
  color: #ffffff;
  font-size: 32px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #f2545f;
    color: #ffffff;
}


/*---------------------------------------
   Social icon
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #666;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: #f2545f;
    color: #ffffff;
}



/*---------------------------------------
   Responsive styles
-----------------------------------------*/
@media (max-width: 980px) {

  p {font-size: 13px;}

  .custom-navbar {
    padding: 5px;
  }
  .custom-navbar .navbar-brand {
    font-size: 2rem;
  }

  .custom-navbar .nav {
    margin-top: 15px;
  }

  .custom-navbar .nav li a {
    font-size: 11px;
	line-height: 20px;
  }

  #intro { height: 100vh; }

  #video iframe {
    margin-top: 42px;
  }

  #contact .contact_detail {
  background: #ffffff;
  padding: 10rem 3rem 10rem 5rem;
}

}

@media (max-width: 768px) {

  .custom-navbar .navbar-toggler {
    border: none;
    background-color: #101010;
    padding-top: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    height: 40px;
    width: 40px;
    padding: 5px;
    transition: .2s;
  }

  .custom-navbar .navbar-toggler.active .bar-1 {
    transform-origin: left;
    transform: rotate(45deg);
  }

  .custom-navbar .navbar-toggler.active .bar-2 {
    opacity: 0;
  }

  .custom-navbar .navbar-toggler.active .bar-3 {
    transform-origin: left;
    transform: rotate(-45deg);
  }
  .top-nav-collapse .navbar-toggler {
    top: 5px;
  }

  .custom-navbar .navbar-toggler-back{
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    z-index: 80;
    border-radius: 50%;
    background-image: radial-gradient(#101010, #2e2e2e, #414141, #5c5c5c);
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .custom-navbar .navbar-toggler-back.active {
    transform: scale(80);
  }

 .custom-navbar .navbar-toggler .icon-bar {
    background-color: #fff;
    border-color: transparent;
    width: 100%;
    height: 3px;
    display: block;
    margin: 7px 0; 
    transition: all .2s;
  }

  .custom-navbar .navbar-body {
    background-color: transparent;
    position: fixed;
    top: 50%;
    left: -50%;
    transform: translate(-50%,-50%);
    z-index: 90;
    transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .custom-navbar .navbar-body.active {
    left: 50%;
  }

  .custom-navbar .nav {
    margin-top: 0;
    transform: translate(0,0);
    margin-right: 0;
}

  .custom-navbar .navbar-brand {
    /* line-height: 20px; */
    font-size: 1.5rem;
    padding: 15px;
    background: transparent;
  }

  .custom-navbar .navbar-nav li {
    text-align: center;
  }

  .custom-navbar .navbar-nav li a {
    font-size: 30px;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .custom-navbar.top-nav-collapse .navbar-brand {
    /* font-size: 2rem; */
    height: 40px;
    padding: 10px;
    margin: 5px;
  }

  #overview img,
  #detail .col-md-4,
  #register form {
    padding-top: 32px;
  }

  .nav-tabs > li > a {
    font-size: 13px;
  }

  .custom-navbar .navbar-brand {
    transform: translate(0px,0px);
  }

  #program img {
    padding-bottom: 32px;
  }

  #sponsors img {
    padding-top: 22px;
  }

  #contact .contact_detail {
    margin-top: 82px;
  }

}

@media (max-width: 760px) {

  #intro {
    height: 100vh;
  }

}

@media (max-width: 450px) {
  #intro .container .row .img-box {
    height: 100px;
    width: 80px;
  }
  #intro .container .row .fst {
    letter-spacing: 5px;
    font-size: 30px;
  }
  #intro .container .row .thr {
    letter-spacing: 15px;
    font-size: 30px;
  }
}